
:root.theme-light {

  --bg-color: #fff1f7;
  --accent-color: rgba(255, 141, 203, 1);
  --title-decoration-bg-color: rgba(255, 141, 203, 1);
  --shadow-color: rgba(255, 141, 203, 1);
  --link-shadow-color: rgba(255, 141, 203, 1);
  --button-hover-outline: rgba(50, 49, 45, 0.4);
  
  --not-accent-color: rgba(53, 52, 48, 1);
  --title-decoration-text-color: rgba(53, 52, 48, 1);
  --header-color: rgba(255, 194, 230, 1);
  
  --bg-image: url("../images/cover-image-light.png");
  
  --visible: hidden;
}

.theme-light .page {
  --bg-color: #fff1f7;
  --accent-color: rgba(255, 141, 203, 1);
  --title-decoration-bg-color: rgba(255, 141, 203, 1);
  --shadow-color: rgba(255, 141, 203, 1);
  --link-shadow-color: rgba(255, 141, 203, 1);
  --button-hover-outline: rgba(50, 49, 45, 0.4);
  
  --not-accent-color: rgba(53, 52, 48, 1);
  --title-decoration-text-color: rgba(53, 52, 48, 1);
  --header-color: rgba(255, 194, 230, 1);
  
  --bg-image: url("../images/cover-image-light.png");
  
  --visible: hidden;
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #fff1f7;
    --accent-color: rgba(255, 141, 203, 1);
    --title-decoration-bg-color: rgba(255, 141, 203, 1);
    --shadow-color: rgba(255, 141, 203, 1);
    --link-shadow-color: rgba(255, 141, 203, 1);
    --button-hover-outline: rgba(50, 49, 45, 0.4);
    
    --not-accent-color: rgba(53, 52, 48, 1);
    --title-decoration-text-color: rgba(53, 52, 48, 1);
    --header-color: rgba(255, 194, 230, 1);
    
    --bg-image: url("../images/cover-image-light.png");
    
    --visible: hidden;
  }
}
